
	<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="__PUBLIC_STATIC__/common/bootstrap/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" href="__PUBLIC_STATIC__/common/bootstrap/css/plugins/sweetalert/sweetalert.css">
<link rel="stylesheet" href="__PUBLIC_STATIC__/common/css/style.css?t=<?=time()?>" media="all" />
	<link rel="stylesheet" href="__PUBLIC_STATIC__/common/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="__PUBLIC_STATIC__/index/css/head.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC_STATIC__/index/css/footer.css">
<script src="__PUBLIC_STATIC__/common/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC_STATIC__/common/bootstrap/public/js/popper.min.js"></script>
<script src="__PUBLIC_STATIC__/common/bootstrap/js/bootstrap.min.js"></script>