
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="__PUBLIC_STATIC__/common/layui/css/layui.css" media="all"/>
<link rel="stylesheet" href="__PUBLIC_STATIC__/common/bootstrap/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" href="__PUBLIC_STATIC__/common/bootstrap/css/plugins/sweetalert/sweetalert.css">
<link rel="stylesheet" href="__PUBLIC_STATIC__/common/css/style.css?t=<?=time()?>" media="all" />
<link rel="stylesheet" href="__PUBLIC_STATIC__/common/css/Editlayui.css?t=<?=time()?>" media="all" />
<script src="__PUBLIC_STATIC__/common/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC_STATIC__/common/bootstrap/public/js/popper.min.js"></script>
<script src="__PUBLIC_STATIC__/common/bootstrap/js/bootstrap.min.js"></script>